.features__hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features__lable-title {
  font-weight: bold;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  // display: flex;;
}

.features__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 251px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  //   margin-right: 30px;
  //   max-width: 270px;

  //   &:last-child {
  //     margin-right: 0;
  //   }
}

.features__lable-description {
  line-height: 1.7;
}

.features__lable {
  height: 120px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
