.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo__black {
  color: var(--logo-black-color);
}

.logo__footer {
  display: block;
  margin-right: 0;
  padding: 0;
  margin-bottom: 20px;
}

.logo__white {
  color: var(--white-color);
}
