.team {
  background-color: var(--secondary-bg-color);
}

.team__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__card {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__card-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-wrap {
  padding: 30px 32px;
}
