:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --first-bg-color: #2f303a;
  --logo-black-color: #000000;
  --first-icons-color: #afb1b8;
  --second-icons-color: #757575;
  --icons-white-color: #ffffff;
}
